@charset "utf-8";
/* CSS Document */

/* Header */

.heading {text-align: center;
		text-decoration: underline;
		font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}

.banner-header {
  height: 300px;
  width: 100%;}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #272727;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #01D712;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #9B9B9B;
}

/* Contact Page Start */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
	padding: 20px;}

#contact-header	{text-align: center;}

/*Contact Page End*/




.row {column-count: 2;
	column-width: 75px;
	column-gap: 75px;
	border: thick;
	text-align: center;
	border-style:double;
	border-color:#000000;}

#aboutpar {
    margin-right: 40%;
    margin-left: 40%;
    text-align: center;}

.column {align-content: center;
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"}

/*Background Color*/
body {background-color: #FFFFFF}



/*

footer {border-style:double;
		border-color:#000000;
		width: 100%;
		height: auto;}
*/

/*Products Page*/

.row1 {column-count: 3;
	column-width: 75px;
	column-gap: 75px;
	border: thick;
	text-align: center;
	border-style:double;
	border-color:#000000;}

.rowfeatured {
	text-align: center;
	border-style:double;
	border-color:#000000;
	border-width: 7px;
	column-count: 3;}

/*Product Page*/

.product {border-style:solid;
		border-color: #000000;
		text-align: center;}

.review {border-style:solid;
		text-align: center;}

/*Pull Tabs*/

.pulltabs {
	text-align: center;
	border-style:double;
	border-color:#000000;
	border-width: 7px;
	column-count: 3;}
